.container {
    margin: 0 auto;
    width: 567px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding-bottom: 120px;
}

.result {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 0 auto;
    flex-wrap: wrap;
}